


{% extends 'frontend_base.html' %}
{% load static %}


{% block nav %}

<header>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'frontend_home' %}"><i class="fa-solid fa-crown fa-2x mx-3"></i> SheBuilds</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

              <i class="fas fa-align-right text-light"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="mr-auto"> </div>
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'sginpg_user' %}">Mentor info <span class="sr-only">(current)</span></a>
                </li>
                {% if not request.user.is_authenticated %}
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'sg_user' %}">User signup</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'sg_mentor' %}">Mentor signup</a>
                </li> 
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'sgin_user' %}">User login</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'sgin_mentor' %}">Mentor login</a>
                </li>  
          
                {% endif %}

                {% if  request.user.is_authenticated %}
               
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Chats room</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
                </li>
          
                {% endif %}

                 {% comment %} <li class="nav-item">
                  <a class="nav-link" href="#scholarships">Scholarship</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#womenrights">Women Rights</a>
                </li>


                <li class="nav-item">
                  <a class="nav-link" href="#mentorships">Mentorship</a>
                </li>
           {% endcomment %}
          


                 

                <!-- <li class="nav-item dropdown">
                  <div class="dropdown">
                    <a href="#" class="nav-link">Pages</a>
                    <div class="dropdown-content">
                         <a href="#">About</a>
                         <a href="#">Help </a>
                    </div>
                  </div>
                </li> -->

                  {% if request.user.is_mentor %}
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'sginpg_mentor' %}">Update profile</a>
                </li>
                  {% endif %}


                    

                {% if request.user.is_user %}
              
                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'addPost' %}">Add Post</a>
                </li>
                 

                 
                

                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'my_posts' %}">My posts</a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Feeds</a>
                </li>

                 {% endif %}

                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout_user' %}" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <b> <i class="fas fa-user-alt"></i>   {{ request.user }}</b>
                  </a>
                 </li>

              </ul>
            </div>
          </nav>
    </div>

</header>


{% endblock nav %}


{% block body %}



{% for message in messages %}
<div class="alert alert-info alert-dismissible fade show" style="position:absolute;z-index:20;width:100%;" role="alert">
  <strong> {{ message }} </strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}

  <div class="container">



    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h4 class="mt-4">{{post.title}}</h4>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{post.writer}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{post.created_on}}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{post.image.url}}" alt="">

        <hr>

          {% comment %} <p class="card-text"><a href="{% url 'send_request_user' post.writer %}" class="btn btn-danger">Request for details</a></p> {% endcomment %}

        <!-- Post Content -->
        <p>{{post.body}}</p>

        
          
        <hr>
        

        <!-- Comments Form -->
        <div class="card my-4">
          <h6 class="card-header">Leave a Comment:</h6>
          <div class="card-body">

                <form method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{request.user}}" name="commenter" class="form-control" placeholder="username" maxlength="20" required id="id_commenter"> 
                 <hr>
                <textarea name="body" cols="40" rows="3" class="form-control" maxlength="100" required id="id_body">
               </textarea><br>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>

          </div>
        </div>

        <!-- Single Comment -->
        
        {% for comment in comments %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.commenter}}</h5>
            {{comment.body}}
          </div>
        </div>
        {% endfor %}
      </div>

   
{% endblock body %}